:root {
 /* --main-bg-color: #009d63; */
 --main-bg-color: ;
 --main-text-color: #0c4a6e;
 --second-text-color: #bbbec5;
 --second-bg-color: #c1efde;
 /* --main-bg-color: ;
 --main-text-color: #064e3b;
 --second-text-color: #bbbec5;
 --second-bg-color: #c1efde; */
}

body {
 -ms-user-select: none;
 user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
}

.primary-text {
 color: var(--main-text-color);
}

.second-text {
 color: var(--second-text-color);
}

.primary-bg {
 background-color: var(--main-bg-color);
}

.secondary-bg {
 background-color: var(--second-bg-color);
}

.rounded-full {
 border-radius: 100%;
}

#wrapper {
 overflow-x: hidden;
 background-image: linear-gradient(
   to right,
   /* ORIGINAL */
   /* #baf3d7,
   #c2f5de,
   #cbf7e4,
   #d4f8ea,
   #ddfaef */
   /* SLATE */
   #94a3b8,
   #cbd5e1,
   #e2e8f0,
   #f1f5f9,
   #f8fafc
   /* EMERALD */
   /* #10b981,
   #34d399,
   #34d399,
   #34d399,
   #6ee7b7 */
 );
}

#sidebar-wrapper {
 min-height: 100vh;
 margin-left: -15rem;
 -webkit-transition: margin 0.25s ease-out;
 -moz-transition: margin 0.25s ease-out;
 -o-transition: margin 0.25s ease-out;
 transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
 padding: 0.875rem 1.25rem;
 font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
 width: 15rem;
}

#page-content-wrapper {
 min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
 margin-left: 0;
}
#menu-toggle {
 cursor: pointer;
}

.list-group-item {
 border: none;
 padding: 20px 30px;
}

.list-group-item.active {
 background-color: transparent;
 color: var(--main-text-color);
 font-weight: bold;
 border: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.scrolltable {
  width: 100;
  overflow-x: auto;
  white-space: nowrap;
}


@media (min-width: 768px) {
 #sidebar-wrapper {
   margin-left: 0;
 }

 #page-content-wrapper {
   min-width: 0;
   width: 100%;
 }

 #wrapper.toggled #sidebar-wrapper {
   margin-left: -15rem;
 }
}